.login-register {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  max-width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.custom-lr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  padding: 20px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.custom-lr h3 {
  text-align: center;
}

.custom-lr form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.lr-inp-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px lightgray;
}

.lr-inp-row input::-webkit-input-placeholder {
  color: #bbb;
}

.lr-inp-row input:-ms-input-placeholder {
  color: #bbb;
}

.lr-inp-row input::-ms-input-placeholder {
  color: #bbb;
}

.lr-inp-row input::placeholder {
  color: #bbb;
}

.lr-inp {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 8px 10px;
}

.login-rf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-rf div:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.4;
}

.login-rf div:nth-child(2) {
  color: #2d98da;
  opacity: 0.5;
}

.lr-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.google-lr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  border-top: solid 1px #ccc;
  padding: 20px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.lr-logo-cont1,
.lr-logo-cont2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lr-logo-cont1 img,
.lr-logo-cont2 img {
  width: 100%;
  height: 100%;
  max-width: 160px;
}

.lr-logo-cont2 {
  display: none;
}

.lr-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lr-text1 p:first-child {
  text-align: center;
  font-size: 1.2rem;
}

.lr-text1 p:nth-child(2) {
  text-align: center;
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  .login-register {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 25px;
    max-width: 880px;
  }
  .lr-logo-cont2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lr-logo-cont1 {
    display: none;
  }
  .custom-lr {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
  }
  .google-lr {
    border: none;
    width: 50%;
  }
}
/*# sourceMappingURL=login-register.css.map */