.app-dropdown {
  position: absolute !important;
  top: 70px;
  width: 100%;
  background-color: rgb(228, 228, 228);
  border: solid 1px #1e90ff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  z-index: 100;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  min-width: 230px !important;

  div {
    max-height: 300px;
    overflow-y: auto;
    gap: 5px;
    display: flex;
    flex-direction: column;

    .app-drop-cont {
      padding: 5px;
      max-width: 100%;
      button {
        text-align: left;
        padding: 10px;
        border: none;
        outline: none;
        border: solid 1px rgb(224, 224, 224);
        border-radius: 3px;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
}
