.widget {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f6fa;
  padding: 15px 10px;
  gap: 10px;
}

.widget-head {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  span {
    font-size: 1.11rem;
  }
  button {
    height: 30px;
    width: 30px;
  }
}

.widget-data-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.button2 {
  padding: 10px 12px;
  background-color: transparent;
  border: none;
  gap: 10px;
  cursor: pointer;
}