$screen1-width: 320px;
$screen2-width: 576px;
$screen3-width: 768px;
$screen4-width: 992px;
$screen5-width: 1200px;
$screen6-width: 1400px;
$screen7-width: 1920px;

$container1-width: calc(100vw - 20px);
$container2-width: 540px;
$container3-width: 720px;
$container4-width: 960px;
$container5-width: 1140px;
$container6-width: 1320px;
$container7-width: 1550px;