@import "../../assets/css/variables.scss";

.friend-cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  padding: 10px;
}

@media screen and (min-width: $screen3-width) {
  .friend-cards {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}

@media screen and (min-width: $screen4-width) {
  .friend-cards {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
  }
}
