.text-bold {
  font-weight: bold;
}

.text-light {
  color: #777;
}

.text-red {
  color: #c0392b;
}

.text-green {
  color: #27ae60;
}

.to-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px 0;
  margin: 15px 0 0 0;
}

// APP DEFAULT BUTTONS
.btn {
  padding: 5px 15px;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-primary {
  border: solid 2px #3498db;
}

.btn-secondary {
  border: solid 2px #00af43;
}

// CIRCULAR ROUND BUTTON WITH ICON
.circular-icon-btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;

}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(39, 39, 39, 0.3);
  z-index: 2000;
}

// PADDINGS

// PADDINGS RIGHT

.pe-5 {
  padding-right: 5px !important;
}

.pe-8 {
  padding-right: 8px !important;
}
