@import "../../assets/css/variables.scss";

.profile-header {
  position: relative;
}

.profile-cover-cont {
  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

.profile-user-img-cont {
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 1px #2980b9;
    color: #555;
  }
}

@media screen and (min-width: $screen3-width) {
  .profile-cover-cont {
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }

  .profile-user-img-cont {
    bottom: -50px;
    left: 30px;
    width: 100px;
    height: 100px;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);

    button {
      height: 35px;
      width: 35px;
    }
  }
}
